/*================================================================================
	Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
	Version: 2.0
	Author: PIXINVENT
	Author URL: http://www.themeforest.net/user/pixinvent
================================================================================
NOTE:
------
PLACE HERE YOUR OWN SCSS CODES AND IF NEEDED, OVERRIDE THE STYLES FROM THE OTHER STYLESHEETS.
WE WILL RELEASE FUTURE UPDATES SO IN ORDER TO NOT OVERWRITE YOUR STYLES IT'S BETTER LIKE THIS.  */
.balance-header {
	color: blue;
	margin: 10px;
}

.directory-card {
	display: flex;
	justify-content: space-between;
	height: 60px;
	flex-direction: row;
}

.directory-img {
	width: 40px;
	height: 40px;
	border-radius: 20px;
	padding: 2px;
	margin: 10px;
}

.directory-name {
	padding: 2px;
	margin: 10px;
	margin-right: 20px;
	justify-content: center;
}

.directory-btn {
	margin: 40px;
	width: 140px;
}

.price-img {
	height: 80px;
	width: 80px;
	margin: 20px;
}

.message-content {
   height: 200px;
   text-align: start;
}

.remove {
	color: green;
}

.update-remove {
	display: none;
}

.price-cost {
	color: blue;
	font-size: medium;
	font-weight: 900;
}

.birthdaycardf {
	width: auto;
	height: auto;
	max-height: 350px;
	max-width: 500px;
}

.sender-id-btn {
	margin-right: 30px;
}

.sortTab {
	width:calc(100% - 30px);
	border-radius:5px;
	height:auto;
	margin:.3pc auto .8pc;
	padding:10px 5px;
	background-color:#fff;
}

.inputbtn {
	visibility: hidden;
	display: none;
}

.sharebtn {
	margin-left: 10px;
}

.birthdaycard {
	background-color: #f9f5f6;
	margin: 0px;
	max-height: 360px;
	max-width: 500px;
}
.birthdaycard img {
 width: 500px;
}

.importbtn {
   margin-left: 10px;
}

.section-2 {
	justify-content: space-between;
	display: flex;
	margin-right: 100px;
	margin-bottom: 30px;
}
.footer img{
	margin-left: 0;
	float: left;
	display: flex;
	align-items: flex-start;	
}
 .download {
	 background-color: green;
	 color: white;
	 border-radius: 10px;
	 height: 50px;
 }

 .happy-birthday {
	width: 100px;
	max-width: 170px;
	height: 100px;
	max-height: 80px;
	margin-top: 20px;
	float: left;
}

 .baloon {
	width: 100px;
	max-width: 250px;
}

.section-2 h2 {
	text-align: left; 
	color: #6e2f99; 
	margin-top: 15px;
	max-width: 100px;
	max-height: 20px;
	font-size: 10px;
	font-style: normal;
	margin-left: 40px;
	
}
.top-newtemp{
	max-width: 300px;
}

.middle-section {
	display: flex;
	justify-content: space-between;
}
.bottom-newtemp {
    max-width: 300px;
}

.happy-header {
	padding: 10px;
	margin-left: 20px;
}
.name-header {
	
	margin-left: 30px;
}
.right-newtemp {
	max-height: 200px;
}
.newtemp-container {
	background-color: #fff;
	max-width: 350px;
	margin-top: 10px;
}

.section-2 p {
	text-align: center; 
	color: #6e2f99; 
	margin-top: -10px;
	font-style: normal;
	max-width: 150px;
	max-height: 20px;
	letter-spacing: normal;
	font-size: 6px;
	margin-left: 40px;
	
}

.button {
	margin-top: 20px;
	margin-bottom: 40px;
}

.profile-picture{
	border-radius: 50%;
	width: 1px;
	max-width: 100px;
	max-height: 100px;
	height: 270px;
	margin-top: 20px;
	margin-left: 40px;
}

.gift {
	max-width: 350px;
	align-items: flex-start;
	margin-top: -20px;
	margin-left: -20px;
}
div[data-column-id="7"] div[role=columnheader], .groups div[data-column-id="3"] div[role=columnheader] {
	justify-content: center;
}
@media screen and (max-width: 800px) {
    .birthdaycardf {
		width: 450px;
		height: 430px;
		max-width: 350px;
		margin: 0px;
		background-color: #f9f5f6;
		max-height: 300px;
	}

	.birthdaycard {
		background-color: #f9f5f6;
		margin: 0px;
		width: 450px;
		height: 430px;
		max-width: 330px;
		max-height: 300px;
	}

	.baloon {
		width: 100px;
		max-width: 250px;
	}
	.happy-birthday {
		width: 100px;
		max-width: 170px;
		height: 100px;
		max-height: 80px;
		margin-top: 20px;
		float: left;
	}

	.profile-picture {
		max-width: 70px;
		max-height: 70px;
		margin-top: 20px;
		margin-left: 20px;
	}

	.section-2 h2 {
		text-align: left; 
		color: #6e2f99; 
		margin-top: 15px;
		max-width: 100px;
		max-height: 20px;
		font-size: 9px;
		font-style: normal;
		margin-left: 20px;
	}

	.section-2 {
		display: flex;
		margin: 0;
		margin-right: 20px;
		margin-bottom: 20px;
	}
	
	.section-2 p {
		text-align: center; 
		color: #6e2f99; 
		margin-top: -10px;
		font-style: normal;
		max-width: 150px;
		max-height: 20px;
		letter-spacing: normal;
		font-size: 5px;
		margin-left: 10px;
	}
	.gift {
		width: 100px;
		max-width: 250px;
		align-items: flex-start;
	}

}
@keyframes spinner {
	0% {
	  transform: rotate(0deg);
	}
	100% {
	  transform: rotate(360deg);
	}
  }
  .loading-spinner {
	width: 50px;
	height: 50px;
	border: 10px solid #f3f3f3; /* Light grey */
	border-top: 10px solid #383636; /* Blue */
	border-radius: 50%;
	animation: spinner 1.5s linear infinite;
  }

  .clear-search {
	  display: none;
  }
  .add-btn-contact {
	margin-left: 20px;
}
.share-btn-contact {
	margin-left: 20px;
}
  @media screen and (max-width: 800px) {
	.add-btn-contact {
		display: grid;
		margin-top: 20px;
		align-items: center;
	}
	.plus-sign {
		display: none;
	}
	.share-btn-contact {
		display: grid;
		margin: 20px;
		align-items: center;
	}
  }
  
  .spinner-container {
	display: grid;
	justify-content: center;
	align-items: center;
	height: 350px;
  }